In [1]:
import pandas as pd

In [5]:
lst = [0, 'Python', 'C', 'C++',  
         'JavaScript', 'Swift', 'Go']  
  
df = pd.DataFrame(lst)

In [9]:
df.iloc[2]

0    C
Name: 2, dtype: object

In [20]:
data = {'Name': ['Tom', 'Joseph', 'Krish', "Arogu"], 'Age': [20, 21, 19, 18]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  
  
# Print the output.  
df

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3   Arogu   18

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [22]:
data = {'Name':['Renault', 'Duster', 'Maruti', 'Honda City'], 'Ratings':[9.0, 8.0, 5.0, 3.0]}  
  
# Creates pandas DataFrame.  
df = pd.DataFrame(data, index =['position1', 'position2', 'position3', 'position4'])  
df

                 Name  Ratings
position1     Renault      9.0
position2      Duster      8.0
position3      Maruti      5.0
position4  Honda City      3.0

In [34]:
data = {'OS':['Ubuntu', 'Debian', 'Fedora', 'PopOS',
              "Windows10","BigSur","Catalina"], 
        'Ratings':[9.0, 8.0, 5.0, 3.0,-10.0,10,10]}  
  
# Creates pandas DataFrame.  
indices=['Linux', 'Linux', 'Linux', 'Linux',"Win","MacOs","MacOs"]
df = pd.DataFrame(data, index =indices)  
df

              OS  Ratings
Linux     Ubuntu      9.0
Linux     Debian      8.0
Linux     Fedora      5.0
Linux      PopOS      3.0
Win    Windows10    -10.0
MacOs     BigSur     10.0
MacOs   Catalina     10.0

In [41]:
df[df.index=="MacOs"]

             OS  Ratings
MacOs    BigSur     10.0
MacOs  Catalina     10.0

In [36]:
df.index

Index(['Linux', 'Linux', 'Linux', 'Linux', 'Win', 'MacOs', 'MacOs'], dtype='object')

In [43]:
for i in df:
    print(i)

OS
Ratings

In [46]:
for i in df["OS"]:
    print(i)

Ubuntu
Debian
Fedora
PopOS
Windows10
BigSur
Catalina

In [47]:
df

              OS  Ratings
Linux     Ubuntu      9.0
Linux     Debian      8.0
Linux     Fedora      5.0
Linux      PopOS      3.0
Win    Windows10    -10.0
MacOs     BigSur     10.0
MacOs   Catalina     10.0

In [54]:
columnas = df.columns
columnas = columnas[-1]
columnas

'Ratings'

In [55]:
df[columnas]

Linux     9.0
Linux     8.0
Linux     5.0
Linux     3.0
Win     -10.0
MacOs    10.0
MacOs    10.0
Name: Ratings, dtype: float64

In [56]:
df.Ratings

Linux     9.0
Linux     8.0
Linux     5.0
Linux     3.0
Win     -10.0
MacOs    10.0
MacOs    10.0
Name: Ratings, dtype: float64

In [57]:
data = {'OS':['Ubuntu', 'Debian', 'Fedora', 'PopOS',
              "Windows10","BigSur","Catalina"], 
        'Ratings Mensuales':[9.0, 8.0, 5.0, 3.0,-10.0,10,10]}  
  
# Creates pandas DataFrame.  
indices=['Linux', 'Linux', 'Linux', 'Linux',"Win","MacOs","MacOs"]
df = pd.DataFrame(data, index =indices)  
df

              OS  Ratings Mensuales
Linux     Ubuntu                9.0
Linux     Debian                8.0
Linux     Fedora                5.0
Linux      PopOS                3.0
Win    Windows10              -10.0
MacOs     BigSur               10.0
MacOs   Catalina               10.0

In [59]:
df["Ratings Mensuales"]

Linux     9.0
Linux     8.0
Linux     5.0
Linux     3.0
Win     -10.0
MacOs    10.0
MacOs    10.0
Name: Ratings Mensuales, dtype: float64

In [62]:
data = {'OS':['Ubuntu', 'Debian', 'Fedora', 'PopOS',
              "Windows10","BigSur","Catalina"], 
        'Ratings_Mensuales':[9.0, 8.0, 5.0, 3.0,-10.0,10,10]}  
  
# Creates pandas DataFrame.  
indices=['Linux', 'Linux', 'Linux', 'Linux',"Win","MacOs","MacOs"]
df = pd.DataFrame(data, index =indices)  
df

              OS  Ratings_Mensuales
Linux     Ubuntu                9.0
Linux     Debian                8.0
Linux     Fedora                5.0
Linux      PopOS                3.0
Win    Windows10              -10.0
MacOs     BigSur               10.0
MacOs   Catalina               10.0

In [61]:
df.Ratings_Mensuales

Linux     9.0
Linux     8.0
Linux     5.0
Linux     3.0
Win     -10.0
MacOs    10.0
MacOs    10.0
Name: Ratings_Mensuales, dtype: float64

In [64]:
df["Ratings_Mensuales"]

Linux     9.0
Linux     8.0
Linux     5.0
Linux     3.0
Win     -10.0
MacOs    10.0
MacOs    10.0
Name: Ratings_Mensuales, dtype: float64

In [66]:
data = {'OS':['Ubuntu', 'Debian', 'Fedora', 'PopOS',
              "Windows10","BigSur","Catalina"], 
        'Ratings_Mensuales':[9.0, 8.0, 5.0, 3.0,-10.0,10,10],
        'Ratings_Previos':[19.0, 18.0, 15.0, 13.0,-100.0,100,10]}  
  
# Creates pandas DataFrame.  
indices=['Linux', 'Linux', 'Linux', 'Linux',"Win","MacOs","MacOs"]
df = pd.DataFrame(data, index =indices)  
df

              OS  Ratings_Mensuales  Ratings_Previos
Linux     Ubuntu                9.0             19.0
Linux     Debian                8.0             18.0
Linux     Fedora                5.0             15.0
Linux      PopOS                3.0             13.0
Win    Windows10              -10.0           -100.0
MacOs     BigSur               10.0            100.0
MacOs   Catalina               10.0             10.0

In [67]:
df.Ratings_Mensuales*df.Ratings_Previos

Linux     171.0
Linux     144.0
Linux      75.0
Linux      39.0
Win      1000.0
MacOs    1000.0
MacOs     100.0
dtype: float64

In [71]:
df["multi"]= df.Ratings_Mensuales*df.Ratings_Previos

In [69]:
df

              OS  Ratings_Mensuales  Ratings_Previos   multi
Linux     Ubuntu                9.0             19.0   171.0
Linux     Debian                8.0             18.0   144.0
Linux     Fedora                5.0             15.0    75.0
Linux      PopOS                3.0             13.0    39.0
Win    Windows10              -10.0           -100.0  1000.0
MacOs     BigSur               10.0            100.0  1000.0
MacOs   Catalina               10.0             10.0   100.0

In [72]:
df.multi.sum()

2529.0

In [73]:
df.multi.max()

1000.0

In [75]:
df.multi.min()

39.0

In [77]:
df.multi.mean()

361.2857142857143

In [80]:
columnas = df.columns
columnas[1:]

Index(['Ratings_Mensuales', 'Ratings_Previos', 'multi'], dtype='object')

In [86]:
df[columnas[1:]].mean(axis=1)

Linux     66.333333
Linux     56.666667
Linux     31.666667
Linux     18.333333
Win      296.666667
MacOs    370.000000
MacOs     40.000000
dtype: float64

In [85]:
df[columnas[1:]].sum(axis=0)

Ratings_Mensuales      35.0
Ratings_Previos        75.0
multi                2529.0
dtype: float64

In [89]:
data = {'OS':['Ubuntu', 'Debian', 'Fedora', 'PopOS',
              "Windows10","BigSur","Catalina"], 
        'Ratings_Mensuales':[9.0, 8.0, 5.0, 3.0,-10.0,10,10],
        'Ratings_Previos':[19.0, 18.0, 15.0, 13.0,-100.0,100,10]}  
  
# Creates pandas DataFrame.  
indices=['Enero', 'Febrero', 'Marzo', 'Abril',"Mayo","Junio","Julio"]
df = pd.DataFrame(data, index =indices)  
columnas = df.columns
columnas[1:]
df

                OS  Ratings_Mensuales  Ratings_Previos
Enero       Ubuntu                9.0             19.0
Febrero     Debian                8.0             18.0
Marzo       Fedora                5.0             15.0
Abril        PopOS                3.0             13.0
Mayo     Windows10              -10.0           -100.0
Junio       BigSur               10.0            100.0
Julio     Catalina               10.0             10.0

In [90]:
df[columnas[1:]].sum(axis=1)

Enero       28.0
Febrero     26.0
Marzo       20.0
Abril       16.0
Mayo      -110.0
Junio      110.0
Julio       20.0
dtype: float64

In [91]:
df[columnas[1:]].sum(axis=0)

Ratings_Mensuales    35.0
Ratings_Previos      75.0
dtype: float64

In [92]:
del df["OS"]

In [93]:
df

         Ratings_Mensuales  Ratings_Previos
Enero                  9.0             19.0
Febrero                8.0             18.0
Marzo                  5.0             15.0
Abril                  3.0             13.0
Mayo                 -10.0           -100.0
Junio                 10.0            100.0
Julio                 10.0             10.0

In [94]:
df.index

Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'], dtype='object')

In [97]:
df.to_csv("../data/df_csv.csv")

In [99]:
df2 = pd.read_csv("../data/df_csv.csv",index_col=0)
df2

         Ratings_Mensuales  Ratings_Previos
Enero                  9.0             19.0
Febrero                8.0             18.0
Marzo                  5.0             15.0
Abril                  3.0             13.0
Mayo                 -10.0           -100.0
Junio                 10.0            100.0
Julio                 10.0             10.0

In [101]:
df.to_latex("../tex/df_tabla.tex")

In [102]:
df.to_json("../data/df_json.json")